.header{
    background: #3b5998;;
    width: 100%;
    height: 84px;
    margin: 0px;
}
body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.logo{
    width: 50%;
    padding-top: 22px;
    float:left;
}
.logo-text{
    color: white;
    font-weight: bold;
    font-size: 35px;
    text-decoration: none;
    margin-left: 268px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login{
    width: 50%;
    float:left;
    margin-top:10px;
    margin-left: 0px;
    
    
}
.login-label{
       color: rgb(255, 255, 255);
       margin-left: 0px;
       
}
.login-controls{
    padding-left: 110px;
color:#9cb4d8
}
.forgotten{
    color: #9cb4d8;
    text-decoration: none;
    font-size: 10;
}
.sub-bn{
    background-color: #4c66a4;
    color: rgb(253, 253, 253);
    height: 20px;
    border-color:#4c66a4;
    cursor: pointer;
}
.sub-bn:hover{
    background-color: blue;
}

.left-section{
    width: 46.7%;
    float:left;
    padding-left: 158px;
    padding-top: 15px;
    color: #0e385f;
}
.para{
    font-weight: bold;
    font-size: 21px;
}

.right-section{
    width: 42%;
    float:left;
}
.main-body{
    background: linear-gradient(white,#D3D8E8);
    width: 100%;
    height: 553px;
}
.create{
    margin: 0px;
    font-size: 37px;
    color: #2E2E2E;
    font-weight: bold;
    font-family: helvetica, arial, sans-serif;
    padding-left:0px;
    padding-top: 21px;
    text-align:left;
}
.sub{
    font-family: helvetica, arial, sans-serif;
    font-size: 18px;
    padding-top: 10px;
    margin: 7px;
}
.new{
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    font-size: 18px;
}
.mob1{
    margin-top: 14px;
    height: 31px;
    padding-inline: 60px;
    padding-inline: 22.59px
}
.mob{
    width: 412px;
    margin-top: 19px;
    height: 31px;
    padding-top: 0px;
    padding-inline: 6px;
}
.mob5{
    width: 412px;
    margin-top: 0px;
    height: 31px;
    padding-top: 0px;
    padding-inline: 6px;
}
.mobile{
    padding-top: 0px;
    margin-top: 10px;
}
.bday{
    margin-bottom: 4px;
    color:grey;
    padding-top: 0px;
    font-size: 18px;
}
.disclaimer{
    color: #424242;
    font-size: 12px;
}
.create-account{
    width: 205px;
    height: 45px;
    text-align: center;
    font-size: 19px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Freight Sans Bold', helvetica, arial, sans-serif !important;
    font-weight: bold !important;
    background: linear-gradient(#67ae55, #578843);
    border: 1px solid;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    position:relative;

}
.why{
    margin-left: 22px;
    width: 147px;
    color: #045FB4;
    text-decoration: none;
    font-size: 11px;
    display: inline-block;
    line-height: 18px;
    padding-left: 0px;
    padding-bottom: 4px;
}
.size-bar{
    padding: 3px;
    float: left;
    font-size: 14px;
}
.f{
    color: #365899;
    margin-right: 10px;
    text-decoration: none;
    padding-left: 14px;
   
   
}
.footer2{
    padding-top: 18px;
    margin-left: 42px;
    padding-left: 15px;
    size: 5px;
}